@{
    ViewBag.Title = "School Library";
}

<div class="jumbotron">
    <h1 class="h1 text-center">School Library</h1>

    <div class="row"></div>

    <div class="row">
        <div class="col-md-4">
            <p><a href="~/Student/Index" class="btn btn-primary btn-lg">Student</a></p>
        </div>

        <div class="col-md-4">
            <p><a href="~/Book/Index" class="btn btn-warning btn-lg">Books</a></p>
        </div>

        <div class="col-md-4">
            <p><a href="~/BookLoan/Index" class="btn btn-success btn-lg">Book Loans</a></p>
        </div>
    </div>
</div>

